# Logs
logs
*.log
pnpm-debug.log*

# Output
node_modules
dist
*.local

# Test
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
